<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card color="cinderela">
      <ion-item color="cinderela" style="color: #0877aa;" routerLink="/cinderela">
    <ion-thumbnail slot="start">
      <img
      class="radius"
      src="https://br.web.img3.acsta.net/pictures/14/11/19/19/02/277077.jpg" >
    </ion-thumbnail>
    <ion-label> <h1>Cinderela </h1></ion-label>
    <ion-badge color="light"></ion-badge>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item  style="color: rgb(211, 197, 9);" routerLink="/branca-de-neve">
    <ion-thumbnail slot="start">
      <img
      class="radius"
      src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/5l0dsoLXP2eifLQ0lFCYNC5Lcv0.jpg">
    </ion-thumbnail>
    <ion-label> <h1>Branca de Neve e os Sete Anões</h1></ion-label>
    <ion-badge color="light"></ion-badge>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item style="color: rgb(5, 129, 47);" routerLink="/ariel">
    <ion-thumbnail slot="start">
      <img
      class="radius"
      src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/qW6uvSFzHIJm9Y8ZfFuTl71HxMh.jpg">
    </ion-thumbnail>
    <ion-label> <h1>A Pequena Sereia: A História de Ariel</h1></ion-label>
    <ion-badge color="light"></ion-badge>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item style="color: rgb(52, 73, 3);" routerLink="/princesa-e-o-sapo">
    <ion-thumbnail slot="start">
      <img
      class="radius"
      src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/7uyZwjeHH9JmfULo4WzMsDpfW0S.jpg">
    </ion-thumbnail>
    <ion-label> <h1>A Princesa e o Sapo</h1></ion-label>
    <ion-badge color="light"></ion-badge>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item style="color: rgb(9, 165, 238);" routerLink="/frozen">
    <ion-thumbnail slot="start">
      <img
      class="radius"
      src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/hOZKUJGN0m717LRSQDxhgABqWrf.jpg">
    </ion-thumbnail>
    <ion-label> <h1>Frozen: Uma Aventura Congelante</h1></ion-label>
    <ion-badge color="light"></ion-badge>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item style="color: rgb(92, 45, 114);" routerLink="/aladdin">
    <ion-thumbnail slot="start">
      <img
      class="radius"
      src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/oakAd8syy7jNQ4ZoaAGCQkTqcOV.jpg">
    </ion-thumbnail>
    <ion-label> <h1>Aladdin</h1></ion-label>
    <ion-badge color="light"></ion-badge>
  </ion-item>
</ion-card>
</ion-card>

</ion-content>
